//site color variables
$body-color: #fff;
$primary-color: #60b7ff;
$secondary-color: #c293e3;
$text-color: #7b8591;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$gray: #F7F9FF;
$dark-gray: #646569;
$light-gray: #f0f3f6;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Poppins', sans-serif;