.checkout{
  padding-bottom: 100px;
  background-color: $light-gray;
  @include mobile{
    padding-bottom: 50px;
  }
  &-wrapper{
    margin-top: -470px;
  }
  &-automatic{
    &-block{
      background: $white;
      border-radius: 20px;
      overflow: hidden;
      @include desktop{
        margin-bottom: 30px;
      }
      &-header{
        img{
          width: 100%;
        }
      }
      &-body{
        padding: 10px 25px 45px;
        text-align: center;
        @include desktop-lg{
          padding: 35px 20px 55px;
        }
        @include desktop{
          padding: 0 25px 30px;
        }
      }
      &-user-info{
        .user-thumb{
          width: 140px;
          height: 140px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto 20px;
          @include mobile{
            width: 80px;
            height: 80px;
          }
          img{
            width: 100%;
          }
        }
        .username,.useremail{
          color: $text-color-dark;
        }
        .username{
          font-weight: 600;
          margin-bottom: 10px;
        }
        .useremail{
          margin-bottom: 30px;
        }
        a{
          display: inline-block;
          color: #4cc5ca;
          text-decoration: underline;
          margin-bottom: 40px;
        }
      }
    }
  }
  &-guarantee{
    &-top{
      padding: 25px 40px;
      text-align: center;
      background-color: rgba($color: $black, $alpha: 0.2);
      border-radius: 20px;
      margin-bottom: 23px;
      @include desktop{
        margin-bottom: 30px;
        background-color: #787ff5;
      }
      h2,h3{
        color: $white;
      }
      h2{
        font-size: 35px;
      }
      h3{
        font-size: 20px;
        font-weight: 400;
      }
      p{
        color: rgba($color: $white, $alpha: 0.5);
      }
    }
    &-bottom{
      background: $white;
      border-radius: 20px;
      text-align: center;
      padding: 50px 40px;
      img{
        margin-bottom: 15px;
      }
      h2{
        font-size: 25px;
        margin-bottom: 10px;
      }
      &.large-height{
        padding: 63px 40px;
        @include desktop-lg{
          padding: 73px 40px;
        }
        @include desktop{
          padding: 40px;
        }
      }
    }
  }
  &-upsell{
    &-block{
      background-image: linear-gradient( 49deg, rgb(109,44,232) 0%, rgb(235,144,173) 100%);
      margin-bottom: 23px;
      border-radius: 20px;
      text-align: center;
      padding: 30px 40px;
      position: relative;
      @include mobile{
        padding: 30px 20px;
      }
      @include desktop{
        margin-bottom: 30px;
      }
      h2{
        font-size: 20px;
        font-weight: 400;
        color: $white;
        line-height: 35px;
        margin-bottom: 19px;
        span{
          font-weight: 600;
        }
      }
      button{
        text-transform: uppercase;
        @include mobile-xs{
          padding: 15px 20px;
          font-size: 13px;
        }
      }
      &-close{
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: block;
        right: 30px;
        top: 30px;
        position: absolute;
        &::before, &::after{
          content: '';
          width: 20px;
          height: 1px;
          background: $white;
          position: absolute;
          transform-origin: center;
        }
        &::before{
          transform: rotate(45deg);
        }
        &::after{
          transform: rotate(-45deg);
        }
      }
    }
  }
  &-form{
    &-wrapper{
      background: $white;
      border-radius: 20px;
      padding: 30px 25px;
      @include desktop{
        margin-bottom: 30px;
      }
    }

    .form-group{
      margin-bottom: 10px;
      label{
        margin-bottom: 5px;
        @include mobile-xs{
          font-size: 12px;
        }
      }
    }
    .form-control{
      @include mobile-xs{
        font-size: 13px;
      }
    }
    .newsletter{
      margin-bottom: 10px;
      p{
        a{
          color: $primary-color;
          text-decoration: underline;
        }
        color: #434343;
        // font-size: 14px;
        margin-bottom: 8px;
        line-height: 22px;
      }
      label{
        color: #b1b1b1;
        font-size: 14px;
      }
    }
  }
}