.hero{
  padding: 250px 0 270px;
  background-image: url('../images/backgrounds/hero-bg.svg');
  background-position: bottom center;
  background-size: cover;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop{
    padding: 200px 0 250px;
  }
  @include mobile{
    padding: 130px 0 150px;
    background-image: url('../images/backgrounds/hero-bg.png');
  }
  &.free-follower{
    background-image: url('../images/backgrounds/free-follower-hero-bg.svg');
    background-color: $white;
    padding: 200px 0;
    @include mobile{
      background-image: url('../images/backgrounds/free-follower-hero-bg.png');
    }
    .hero-image-center{
      img{
        height: 375px;
        @include desktop-lg{
          width: 100%;
          height: auto;
          margin-top: 40px;
        }
        @include desktop{
          height: 300px;
        }
      }
    }
    .hero-content{
      h1{
        @include desktop-lg{
          font-size: 40px;
        }
      }
    }
    .free-follower-shape-bottom{
      position: absolute;
      width: 100%;
      bottom: -10px;
      display: none;
      svg{
        path{
          fill: $light-gray;
        }
      }
    }
    &.free-follower-bottom{
      padding: 280px 0 150px;
      background-image: url('../images/backgrounds/testimonial-bg.svg');
      background-size: cover;
      background-position: top center;
      position: relative;
      background-color: $light-gray;
      @include mobile{
        background-image: url('../images/backgrounds/testimonial-bg.png');
      }
      .hero-content{
        h1{
          font-size: 40px;
        }
      }
      .free-follower-shape-bottom{
        display: block;
      }
    }
  }
  &-content{
    h1{
      position: relative;
      z-index: 2;
      color: $white;
      margin-bottom: 40px;
      @include tablet{
        font-size: 35px;
        margin-bottom: 25px;
      }
    }
    p{
      color: $white;
      margin-bottom: 30px;
    }
    @include desktop{
      text-align: center;
    }
  }
  &-image{
    text-align: center;
    position: relative;
    z-index: 1;
    @include desktop{
      margin-bottom: 70px;
    }
    @include mobile{
      margin-bottom: 30px;
    }
    &-center{
      position: relative;
      img{
        height: 460px;
        width: auto;
        @include tablet{
          height: 300px;
        }
        @include mobile{
          height: 270px;
        }
      }
      z-index: 2;
    }
    &-topRight{
      position: absolute;
      width: 150px;
      right: 5%;
      top: -5%;
      z-index: 3;
      animation-name: right-left;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include tablet{
        width: 100px;
        right: 16%;
      }
      @include mobile{
        width: 80px;
        right: 20%;
      }
    }
    &-topLeft{
      position: absolute;
      width: 225px;
      top: -10%;
      z-index: 3;
      animation-name: right-left-rev;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include tablet{
        width: 170px;
        left: 10%;
      }
      @include mobile{
        width: 140px;
      }
    }
    &-bottomLeft{
      position: absolute;
      width: 160px;
      bottom: 0;
      left: 10%;
      animation-name: right-left;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      z-index: 3;
      @include tablet{
        width: 100px;
        left: 18%;
      }
      @include mobile{
        width: 80px;
      }
    }
    &-bottomRight{
      position: absolute;
      width: 170px;
      bottom: -5%;
      right: 15%;
      z-index: 3;
      img{
        transform: scaleX(-1);
      }
      animation-name: up-down-rev;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include tablet{
        width: 110px;
        right: 20%;
      }
      @include mobile{
        width: 85px;
      }
    }
    &-count{
      position: absolute;
      width: 180px;
      left: 13%;
      top: -2%;
      z-index: 1;
      @include desktop-lg{
        width: 140px;
        top: 4%;
      }
      @include desktop{
        left: 25%;
        top: 10%;
      }
      @include tablet{
        left: 16%;
      }
      @include mobile{
        top: 2%;
      }
      span{
        position: absolute;
        font-size: 55px;
        right: 12%;
        font-weight: 600;
        top: 15%;
        color: $text-color-dark;
        @include desktop-lg{
          font-size: 45px;
        }
      }
    }
    &-followerExplore{
      position: absolute;
      width: 200px;
      z-index: 3;
      top: 5%;
      left: 10%;
      @include desktop-lg{
        width: 150px;
        left: 12%;
      }
      @include desktop{
        left: 24%;
      }
      @include tablet{
        width: 130px;
        left: 18%;
      }
      .explore-one{
        width: 30px;
        position: absolute;
        left: 0;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .explore-two{
        width: 30px;
        position: absolute;
        right: 0;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-delay: -1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .explore-three{
        width: 25px;
        position: absolute;
        left: -5%;
        top: -50px;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-delay: -1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .explore-four{
        width: 25px;
        position: absolute;
        right: -5%;
        top: -50px;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-delay: -2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .explore-five{
        width: 20px;
        position: absolute;
        left: 0;
        top: -100px;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-delay: -2.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      .explore-six{
        width: 20px;
        position: absolute;
        right: 0;
        top: -100px;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-delay: -3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    &-shapes{
      position: absolute;
      width: 110%;
      top: -17%;
      left: -5%;
      z-index: -1;
      animation-name: fade;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include tablet{
        width: 100%;
        left: 0;
      }
      @include mobile{
        width: 70%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }
}

.blog{
  &-header{
    padding: 200px 0 180px;
    background-color: $light-gray;
    background-image: url('../images/backgrounds/hero-bg.svg');
    background-position: bottom center;
    background-size: cover;
    @include tablet{
      padding: 150px 0;
    }
    @include mobile{
      padding: 130px 0 150px;
      background-image: url('../images/backgrounds/hero-bg.png');
    }
    &-content{
      text-align: center;
      position: relative;
      h1,p{
        color: $white;
      }
      h1{
        margin-bottom: 30px;
        @include tablet{
          font-size: 40px;
        }
      }
      img{
        width: 100%;
      }
      &-shape{
        position: absolute;
        width: 120%;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include desktop{
          width: 100%;
        }
      }
    }
  }
}

@keyframes up-down {
  0% { transform: translateY(0) }
  100% { transform: translateY(-20px) }
}

@keyframes up-down-rev {
  0% { transform: translateY(0) }
  100% { transform: translateY(20px) }
}

@keyframes right-left {
  0% { transform: translateX(0) }
  100% { transform: translateX(20px) }
}

@keyframes right-left-rev {
  0% { transform: translateX(0) }
  100% { transform: translateX(-20px) }
}

@keyframes fade {
  0%   { opacity: 0; }
  100%   { opacity: 1; }
}